*.swp
vendor
build
*.pdf
*.prof
tests/integration/arke
coverage.*
tests/integration/certs/server
tests/integration/certs/testca
tests/integration/rabbit
env-*
.idea/
*.diff
.dccache
arke
test/healthz/healthz-client
coverage/
*.out
gitleaks
